<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phongap.deviceinfo" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>DeviceInfo</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
	<preference name="permissions" value="none" />
    <preference name="phonegap-version" value="cli-5.2.0" />
    <preference name="orientation" value="default" />
    <preference name="EnableViewportScale" value="false"/>
    <preference name="target-device" value="universal" />
	<plugin name="hu.dpal.phonegap.plugins.uniquedeviceid" source="pgb" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-plugin-device" spec="1" />
	<plugin name="cordova-plugin-statusbar" spec="1"/> 
	<plugin name="cordova-plugin-network-information" spec="1"/> 
	
	<allow-navigation href="http://*/*" />
	

    
	
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
